* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  width: 960px;
  height: 960px;
}

.grid {
  display: grid;
  justify-content: center;
  max-width: 100%;
  flex-wrap: wrap;
  gap: 1px;
}

.square {
  width: 20px;
  height: 20px;
  transition: 10s ease;
  background-color: white;
}

.square:hover {
  transition-duration: 0s;
}

button {
  cursor: pointer;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  margin: 50px 0;
  background-color: rgb(28, 0, 121);
  border-radius: 20px;
}


